:root {
  --blue: #368fde;
}

* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 12px;
  background: rgb(168, 210, 229);
  background: linear-gradient(
    0deg,
    rgba(168, 210, 229, 1) 0%,
    rgba(247, 251, 253, 1) 35%
  );
}

ul {
  /* list-style: none; */
}

.bg {
  background: yellow;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 0 20px;
  min-height: 100vh;
}

.top {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-caption {
  font-size: 20px;
}

.contacts {
  width: 75px;
  display: flex;
  justify-content: space-between;
}

.burger-button {
  position: relative;
  width: 32px;
  height: 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: none;
  cursor: pointer;
}

.burger-button::before {
  content: '';
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  left: 0;
  top: 9px;
  background-color: #000;
}

.social-icon {
  width: 30px;
}

.banner {
  width: 100%;
  aspect-ratio: 1000 / 300;
  background-image: url('../img/banner.jpg');
  background-size: cover;
}

.main-header {
  color: #fdfdfd;
  font-size: 40px;
  max-width: 400px;
  margin-left: auto;
  padding-top: 30px;
  font-family: 'Roboto Slab', serif;
  text-align: right;
  padding-right: 20px;
}

.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 30px 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -4px 7px 9px -6px rgba(0, 0, 0, 0.75);
}

.aside {
  display: block;
  background-color: #f4f8fa;
  padding: 30px 10px;
  min-height: 100vh;
}

.menu-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--blue);
  padding-bottom: 20px;
}

.menu {
  list-style: none;
}

.menu .item {
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #e5e9eb;
  cursor: pointer;
}

.menu .item.active {
  color: var(--blue);
}

.menu .item:hover {
  color: var(--blue);
}

.main {
  padding: 10px 20px;
  background-color: #fff;
}

.page {
  display: none;
}

.par {
  margin: 10px 0;
  line-height: 16px;
}

.price {
  color: var(--blue);
  margin: 10px 0;
  font-weight: 600;
}

.step {
  font-style: italic;
  font-size: 16px;
  margin: 10px 0;
}

.important {
  font-weight: 600;
  margin: 10px 0;
  line-height: 20px;
}

.list-header {
  margin: 10px 0;
}

.page.current-page {
  display: block;
}

.page-header {
  color: var(--blue);
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}

.page-subheader {
  color: var(--blue);
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

ul,
ol {
  padding-left: 25px;
  margin-bottom: 15px;
}

li {
  line-height: 20px;
}

li::marker {
  /* color: var(--blue); */
}

.mobile-menu {
  /* display: none; */
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 5;
  transition: top 0.3s ease-in-out;
}

.mobile-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  rotate: 45deg;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 768px) {
  .top-caption {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .mobile-menu {
    display: block;
    background-color: #fff;
  }

  .mobile-menu menu {
    padding-top: 15px;
  }

  .banner {
    aspect-ratio: 1000 / 400;
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  .main-header {
    font-size: 25px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    max-width: 250px;
    font-weight: 300;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .aside {
    display: none;
  }
}
